<%- include("partials/header") -%>

<style>
  h1{
    margin-left:6%;
    margin-top:2%;
    font-size: 50px;

  }

  body{
    background-image:  url("./images/bg.jpg");
  }
  .dropbtn {
  background-color:black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}


.dropdown {
  position: relative;
  display: inline-block;
  left : 45%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: gray;
  text-align:center;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content p{
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color:#fff;
color: black;}

.cont{
    display: inline-block;
    width:40%;
    border: 1px solid black;
    border-radius: 10px;
    margin:2%;
    box-shadow : 0 5px 7px 3px rgba(0,0,0,0.5);
    padding : 15px;

}
h4{
  font-weight: bold;
  text-decoration : underline;

}
.para{
  font-weight : bold;
  font-size : 18px;
}




</style>
<div class="head container-fluid">
<img src="https://www.designmantic.com/logo-images/10497.png?company=Company+Name&slogan=&verify=1">
<h1 class="heading">PATHWAY</h1>
<div class="dropdown">
    <button class="dropbtn">USER</button>
    <div class="dropdown-content">
      <p> <%=name%> </p>
      <a href="/home">Logout</a>
    </div>
  </div>
</div>


<h1>ROADMAP</h1>
<div class="cont">
  <h4><%=title1%></h4>
  <p class="para"><%=que2%></p>
</div>
<div class="cont">
  <h4><%=title2%></h4>
  <p class="para"><%=que3%></p>
</div>
<div class="cont">
  <h4><%=title3%></h4>
  <p class="para"><%=que4%></p>
</div>
<div class="cont">
  <h4><%=title4%></h4>
  <p class="para"><%=que5%></p>
</div>
<%- include("partials/footer") -%>
